@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.jumlah {
  font-size: 3rem;
  font-family: Caveat, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
}

.bayar {
  font-size: 2rem;
  font-family: Caveat, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
}

.underline {
  /* make underline that bold */
  text-decoration: underline;
  cursor: pointer;
}

.green {
  /* make underline color green */
  color: rgb(0, 179, 0);
}

.blue {
  color: rgb(0, 192, 192);
}

@media only screen and (max-width: 600px) {
  .jumlah {
    font-size: 1.7rem;
    text-align: center;
  }
  .container {
    height: 100%;
  }
  .bayar {
    font-size: 1.5rem;
    text-align: center;
  }
}
