.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 70vh;
  z-index: 99;
}

.link {
  padding: 15px 0;
  cursor: pointer;
  margin:2px;
  color:rgb(141, 141, 141);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin: 5px;
  margin-right: 10px;
  border: 1px solid rgb(155, 155, 155);
  /* add box shadow */
}
.linkButton {
  padding: 5px 15px;
  border-radius: 5px;
}

.link {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(68, 68, 68);
  box-shadow: 4px 6px rgb(50 50 50 / 40%);
}

.linkActive {
  border-radius: 5px;
  background-color: rgb(78, 78, 78);
  color:#fff;
  /* box-shadow: 4px 6px rgb(50 50 50 / 40%); */
}
.linkActive:hover {
  border-radius: 5px;
  background-color: rgb(78, 78, 78);
  
  color:#fff;
}

.link:active {
  /* background-color: white; */
  box-shadow: 1px 3px rgb(50, 50, 50, 0.4);
  transform: translateY(3px) translateX(3px);
}

.buttonToShow {
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .hide {
    transform: translateX(-101%);
    transition: transform 1s;
  }
  .container {
    position: fixed;
    margin: 0;
    border-right: 1px solid rgb(155, 155, 155);
    left: 0;
    top: 60px;
    background-color: #fff;
    transition: transform 1s;
    /* create box shadow */
    box-shadow: 3px 1px 5px 0 rgba(0,0,0,0.38);
    padding-top: 20px;
    
  }
  .buttonToShow {
    box-shadow: 3px 1px 5px 0 rgba(0,0,0,0.58);
    visibility: visible;
    position: absolute;
    padding: 5px;
    width: 30px;
    
    height: 30px;
    top: 40%;
    right: 1px;
    transform: translateX(100%);
    border: 1px solid rgb(155, 155, 155);
    border-left: 1px solid #fff;
    background-color: #fff;
    border-radius: 0 100% 100% 0;

  }
}