.form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-weight: 900;
  font-size: 18px;
  width: 50%;
  gap: 10px;
}

.form > span {
  margin-top: 10px;
  width: 130px;
  display: inline-block;
  text-transform: capitalize;
}
.form > span::after {
  content: "*";
  color: red;
}

.form > input {
  font-size: 18px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 3px;

}


@media only screen and (max-width: 600px) {
  .form {
    width: 100%;
  }
}

