.container {
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {

  padding: 0 20px;
}

.loggedIn {
  display: flex;
  margin-bottom: 20px;
}

.contentChildren {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}