.container {
  display: flex;
  padding: 5px 0;
  gap:10px;
  width: 90%;
}

.container div {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 4px 6px rgb(50, 50, 50, 0.4);
  text-transform: capitalize;
}


.container div:active {
  box-shadow: 1px 3px rgb(50, 50, 50, 0.4);
  transform: translate(3px, 3px);
}

.container span {
  padding: 5px;

}
.active {
  background-color: rgb(153, 255, 179);
}

.inactive {
  
  background-color: rgb(214, 214, 214);
}