.container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
  padding: 20px;
}

.container > table {
  border-collapse: collapse;
}
td.cell {
  border-bottom: 1px solid #ccc;
  padding: 10px 1rem 10px 1rem;
  overflow: hidden;
  white-space: nowrap;
  max-width: 300px;
  text-align: center;
}

th.cell {
  border-bottom: 1px solid #ccc;
  padding: 10px 1rem 10px 1rem;
  overflow: hidden;
  white-space: nowrap;
  /* make capitalize */
  text-transform: capitalize;
}

.center {
  text-align: center;
}
