.container {

  min-height: 100vh;
  background-color: rgb(235, 235, 235);
}

.header {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: -20px;
}
.logo{

}
.header > h1{
  
  
}
.input{
  
  padding: 10px 20px;
}
.input > input{
  width: 100%;
  padding: 2px 6px;
  font-size: medium;
  border-radius: 6px;
  filter: drop-shadow(0 0 0.75rem #4fb7ff);
}
.iklan {
 
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 100%;
 padding: 4px;
 margin-top: 20px;
}
.gambar {
  margin-top: 5px;
  
}

 .content {
  background-color: #a2d9ff;
}

.container > footer {
  background-color: #87bee3;
}

