.container {
  width: fit-content;
  padding: 6px 12px;
  margin-top: 3px;
  background-color: rgb(0, 172, 0);
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

.late {
  background-color: red;

}